{
	auto_https off
	#	local_certs
}

:80 {
	@lane-a header x-lane a
	@lane-b header x-lane b
	
	handle_path /service-a/* {
		reverse_proxy @lane-b service-a-1:80
		reverse_proxy service-a-0:80
	}
	handle_path /service-b/*  {
		reverse_proxy @lane-b service-b-0:80
		reverse_proxy service-b-0:80
	}
	handle_path /service-c/*  {
		reverse_proxy @lane-b service-c-1:80
		reverse_proxy service-c-0:80
	}
	
	reverse_proxy gateway-0:80
}