{
	auto_https off
	#	local_certs
}

gateway-a:80 {
	reverse_proxy :5000 {
		header_up x-lane a
	}
}
gateway-b:80 {
	reverse_proxy :5001 {
		header_up x-lane b
	}
}

service-0:80 {
	@lane-b header x-lane b
	reverse_proxy @lane-b :6000
	reverse_proxy :6000
}

service-1:80 {
	@lane-b header x-lane b
	reverse_proxy @lane-b :6011
	reverse_proxy :6010
}